<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="userDao" class="com.demo.dao.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="personDao" class="com.demo.dao.PersonDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="userManagerBase" class="com.demo.manager.UserManagerImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="personServiceBase" class="com.demo.manager.PersonServiceImpl">
		<property name="personDao" ref="personDao"></property>
	</bean>
	
	<!-- 此处为代理 -->
	<bean name="userManager" parent="transactionProxy">
		<property name="target" ref="userManagerBase"></property>
	</bean>
	<bean name="personService" parent="transactionProxy">
		<property name="target" ref="personServiceBase"></property>
	</bean>
</beans>
